.env
backend/.env

__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

frontend/node_modules/
frontend/dist/

node_modules/
package.json
package-lock.json

backend/staticfiles/
backend/media/

.DS_Store
